{% extends 'base.html.twig' %}


{% block head %}
    <title>Recherche d'entreprise par No TVA</title>
{% endblock %}


{% block body %}

    	<h1> </h1>
       <img class="center" src='{{ asset('TVA.jpg') }}'' alt='TVA'/>
       <br><br><br>

       <form action= "{{ path('tva') }}"" method="GET">
       	 <table class="center">
       	<tr>
       		<td>
       			Numéro TVA :  
       		</td>
       		<td> 
       			<select id="countryCode" name="countryCode">
    				<option value="">--Choisissez un code pays--</option>
   			    	<option value="FR">FR</option>
 			   		<option value="EN">EN</option>
 			    	<option value="RO">RO</option>
  			    	<option value="US">US</option>
				</select>
       		</td>
		</tr>
		<tr>
			<td>
        		
 	     	</td>
			<td>
        		<input type="text" name="vatNumber">
 	     	</td>
 	    </tr>
 	    <tr>
 	    	<td>   
 	     	</td>
 	    	<td>   
 	     		<input type="submit" value="Rechercher"> 
 	     	</td>
 	    </tr>
       	
       </table>
	   </form>
{% endblock %}


{% block stylesheets %}
    	<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%; }
</style>
{% endblock %}
