{% extends 'base.html.twig' %}

{% block head %}
        <title>Results for your search </title>
{% endblock %}

{% block body %}
        <br><br>
        <h1 class="center"> &nbsp; &nbsp; &nbsp; &nbsp; INFORMATIONS :</h1>
        <table class="center">
              <tr>
                    <td>Numéro TVA : </td>
                    <td><b>{{countryCode}}{{vatNumber}}</b></td>
              </tr>
              <tr>
                    <td>Nom de l'entreprise : </td>
                    <td><b>{{result.traderName}}</b></td>
              </tr>
              <tr>
                    <td>Adresse : </td>
                    <td><b>{{result.traderAddress}}</b></td>
              </tr>
        </table>
 
{% endblock %}
{% block stylesheets %}
<style>

 body { background: #F5F5F5; font: 14px/1.5 'Helvetica Neue', Helvetica, Arial; }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%; }

  th, td {
  padding: 15px;
  text-align: left;
}
</style>
{% endblock %}